@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

*,
a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* banniere accueil start*/
.product-device {
  position: absolute;
  background-color: #333;
  right: 5%;
  bottom: -30%;
  width: 250px;
  height: 480px;
  border-radius: 21px;
  transform: rotate(30deg);
}
.product-device-2 {
  background-color: #e5e5e5;
  right: auto;
  top: -25%;
  left: -2%;
}
/* banniere end */

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #18b712;
  --bs-btn-hover-border-color: #1179a6;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #f5b608;
  --bs-btn-active-border-color: #be2222;
}
